<p style="color: green"><%= notice %></p>

<h1>Rooms</h1>

<%= link_to "New room", new_room_path %>


<div id="rooms">
  <% @rooms.each do |room| %>
    <%= render room %>
    <p>
      <%= link_to "Show this room", room %>
    </p>
  <% end %>
</div>

